{% extends "filmiapp/osnova.html" %}

{% block naslov %}Registracija{% endblock %}

{% block sporocilo %}
{{ block.super }}
{% for error in form.non_field_errors %}
<div class="notification is-danger is-light">
    <button class="delete"></button>
    {{ error }}
</div>
{% endfor %}
{% endblock %}

{% block vsebina %}
<form action="{% url 'registration' %}" method="POST">
    {% csrf_token %}
    <div class="field">
        <label class="label">Uporabniško ime</label>
        <p class="control has-icons-left">
            <input class="input" type="text" name="{{ form.username.html_name }}" placeholder="Uporabniško ime" value="{{ form.username.value | default:'' }}" />
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
        </p>
        {% for error in form.username.errors %}
        <p class="help is-danger">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div class="field">
        <label class="label">Geslo</label>
        <p class="control has-icons-left">
            <input class="input" type="password" name="{{ form.password1.html_name }}" placeholder="Geslo" />
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
        {% for error in form.password1.errors %}
        <p class="help is-danger">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div class="field">
        <label class="label">Ponovi geslo</label>
        <p class="control has-icons-left">
            <input class="input" type="password" name="{{ form.password2.html_name }}" placeholder="Ponovi geslo" />
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
        {% for error in form.password2.errors %}
        <p class="help is-danger">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div class="field">
        <p class="control">
            <button class="button is-success">
                Registriraj se
            </button>
        </p>
    </div>
</form>
{% endblock %}
